// ======================================================
//
// ブロックスタイル - お客様の声（エディター固有のスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../../../src/css/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_voices_items:not(:root){
	> .c-row{
		> .c-row__col{
			//追加ボタンを消す
			+ .block-list-appender{
				&::before{
					content: "声を追加したい場合は既存の子ブロックを複製し追加ください";
					display: block;
					font-size: 0.86rem;
					text-align: center;
					color: #e00;
				}
				button{
					pointer-events: none;
					opacity: 0.1;
				}
			}
		}
	}
}

.is-style-RJE_R002LP_voices_items:not(:root){
	> .c-row{
		>.c-row__col{
			@include i.mq(sm){
				margin-bottom: 3.75rem;
			}
		}
	}
	.smb-items__item{
		@include i.mq(xl){
			padding: 4rem;
		}
	}
	.smb-items__item--free .smb-items__item__body{
		@include i.mq(lg){
			display: flex;
		}
	}
}

//内容ヘッダ
.RJE_R002LP_voices__item_heading:not(:root){
	@include i.mq(lg){
		max-width:31.2%;
		flex-basis: 31.2%;
		padding-right: 2rem;
	}
	@include i.mq(xl){
		padding-right: 3.75rem;
	}
}
//本文
.RJE_R002LP_voices__item_content:not(:root){
	.RJE_R002LP_voices__item_heading + &{
		@include i.mq(lg){
			margin-top: 0;
			padding-top: 0;
			padding-left: 2rem;
			border-width: 0 0 0 1px;
		}
		@include i.mq(xl){
			padding-left: 3.75rem;
		}
	}
	@include i.mq(lg){
		max-width:68.8%;
		flex-basis: 68.8%;
		padding-top: 0;
		border-top: 0;
	}
}

//パーソナル情報
.RJE_R002LP_voices__person:not(:root){
	.c-row{
		@include i.mq(lg){
			flex-wrap: nowrap;
			justify-content: flex-start;
		}
	}
	.c-row--reverse{
		@include i.mq(lg){
			justify-content: flex-end;
		}
	}
}
