// ======================================================
//
// ブロックスタイル - CTA固定表示（エディターのプレビュー画面のみに反映したいスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../../../src/css/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
@mixin style_preview() {
  .is-style-RJE_R002LP_cta_fix:not(:root){
    position: relative;
    min-height: 400px;
    background-color: 1px solid #ddd;
  }
}

@include style_preview;
.editor-styles-wrapper{
  @include style_preview;
}
