// ======================================================
//
// ブロックスタイル - CTA固定表示（エディター固有のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_cta_fix{
	position: relative;
	padding: 2.5rem 1rem 1rem;
	background-color: rgba(#e00, 0.14);
	border: 1px dotted #e00;
	&::before{
		content: "※右下に固定表示されるCTAパターンです。こちらは１ページに１つのみ設置ください（２つ目以上は表示されません）";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		background-color: #e00;
		font-size: 0.857rem;
		font-weight: bold;
		color: #fff;
	}
	> .c-row{
		> .c-row__col{
			//追加ボタンを消す
			+ .block-list-appender{
				display: none;
			}
			&:not(:first-of-type){
				&::before{
					content: "※このブロックは表示されません";
					display: block;
					margin-top: 1rem;
					font-size: 0.857rem;
					color: #e00;
				}
				> .smb-items__item{
					opacity: 0.5;
				}
			}
		}
	}
	.smb-items__banner{
		position: relative;
		&::before{
			content: "バナータイプは対象外です";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			background-color: #e00;
			font-size: 0.857rem;
			font-weight: bold;
			color: #fff;
			z-index: 2;
		}
		.smb-items__banner__figure,
		.smb-items__banner__body{
			opacity: 0.5;
		}
	}
	.smb-items__item--free{
		position: relative;
		&::before{
			content: "自由入力タイプは対象外です";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			background-color: #e00;
			font-size: 0.857rem;
			font-weight: bold;
			color: #fff;
			z-index: 2;
		}
		.smb-items__banner__figure,
		.smb-items__banner__body{
			opacity: 0.5;
		}
	}
}

.block-editor-block-list__layout .is-style-RJE_R002LP_cta_fix:not(:first-of-type){
	background-color: transparent;
	border-color: #777;
	&::before{
		content: "【こちらは表示されません】 右下に固定表示されるCTAパターンは１ページに１つのみ設置できます";
		background-color: #777;
	}
	> .c-row{
		opacity: 0.5;
	}
}
