// ======================================================
//
// ブロックスタイル - CTA固定表示（フロント固有のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
// ======================================================
//
// ブロックスタイル - CTA固定表示（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_cta_fix{
	> .c-row{
		> .c-row__col{
			position: fixed;
			bottom: 0;
			right: 0;
			z-index: 2;
			padding: 0 1.25rem 1.25rem;
			&:not(:first-of-type){
				display: none;
			}
		}
	}
	.smb-items__item{
		&.is-hidden{
			display: none;
		}
	}
	.smb-items__item__content{
		@media screen and (max-width: 1023px) {
			display: none;
		}
	}
	.close-btn{
		position: absolute;
		top: -0.9375rem;
		right: -0.9375rem;
		width: 1.875rem;
		height: 1.875rem;
		background-color: #fff;
		border: 1px solid #999;
		border-radius: 50%;
		outline: none;
		font-size: 0;
		cursor: pointer;
		&::before,
		&::after{
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			display: block;
			width: 1rem;
			height: 1px;
			background-color: #999;
		}
		&::before{
			transform: rotate(45deg);
		}
		&::after{
			transform: rotate(-45deg);
		}
	}
}

.l-container .is-style-RJE_R002LP_cta_fix:not(:first-of-type){
	display: none;
}