// ======================================================
//
// ブロックスタイル - バリエーション（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_variation_items:not(:root){
	> .c-row{
		margin: -1.125rem;
		> .c-row__col{
			margin-bottom: 0;
			padding: 1.125rem;
		}
	}
	.smb-items__item{
		display: flex;
		flex-direction: column;
		height: 100%;
		padding-bottom: 1.5rem;
		border-bottom: 1px solid #999;
	}
	.smb-items__item__figure{
		position: relative;
		margin-bottom: 1rem;
		&::before{
			content: "";
			display: block;
			padding-top: 67%;
		}
		> img{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.smb-items__item__body{
		display: flex;
		flex-direction: column;
		text-align: left;
	}
	.smb-items__item__title{
		order: 1;
		font-size: 1.125rem;
		letter-spacing: 0.12em;
	}
	.smb-items__item__lede{
		order: 3;
		margin-top: 0.5rem;
		letter-spacing: 0.05em;
	}
	.smb-items__item__content{
		order: 2;
		margin-top: 0.5rem;
		letter-spacing: 0.05em;
	}
	.smb-items__item__action{
		order: 4;
		margin-top: 1rem;
		font-size: 0.875rem;
	}
	.smb-items__item__btn{
		min-width: 100px !important;
	}
}