// ======================================================
//
// ブロックスタイル - Hero（メディアと文章)（フロントのスタイル）
//
// ======================================================

// ------------------------------------------------------
// 変数
// ------------------------------------------------------
$figure-width: 64%; //PC・タブレット時のメディアのコンテナ幅
$content-width: (100% - $figure-width);  //PC・タブレット時のコンテンツのコンテナ幅

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
//サイドバー以外のテンプレート
body:not([data-has-sidebar="true"]){
	.is-style-RJE_R002LP_hero_media_and_text{
		//セクション背景
		.smb-section-with-bgimage__bgimage{
			@include mq(xl){
				max-width: 80%;
				margin-right: 3.75em;
			}
		}
		//セクションの内包
		.smb-section__inner > .c-container{
			@include mq(xl){
				max-width: 80%;
			}
		}
		//SMBメディアと文章
		.smb-media-text{
			.c-row__col{
				//コンテンツ幅
				&:first-child{
					@include mq(xl){
						flex-basis: $content-width;
						max-width: $content-width;
					}
				}
				//イメージ幅
				&:last-child{
					@include mq(xl){
						flex-basis: $figure-width;
						max-width: $figure-width;
					}
				}
			}
		}
		.smb-media-text__title{
			br{
				@media screen and (min-width:1024px) and (max-width:1100px){
					display: none;
				}
			}
		}
		// コンテンツ右寄せの場合
		&.smb-section--right{
			.smb-section-with-bgimage__bgimage{
				@include mq(xl){
					max-width: 80%;
					margin-left: 3.75em;
				}
			}
		}
	}
}

//サイドバーあり
body[data-has-sidebar="true"]{
	.is-style-RJE_R002LP_hero_media_and_text{
		.smb-section-with-bgimage__bgimage{
			@include mq(lg){
				margin-right: auto;
				margin-left: 10%;
			}
		}
		.smb-media-text{
			.c-row__col{
				@include mq(lg){
					flex-basis: 100%;
					max-width: 100%;
				}
				&:first-child{
					@include mq(lg){
						order: 2;
					}
				}
				&:last-child{
					@include mq(lg){
						order: 1;
					}
				}
			}
		}
		// コンテンツ右寄せの場合
		&.smb-section--right{
			.smb-section-with-bgimage__bgimage{
				@include mq(lg){
					max-width: none;
					margin-right: 10%;
					margin-left: auto;
				}
			}
		}
	}
}