// ======================================================
//
// ブロックスタイル - サービス・製品の仕様（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../../../src/css/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_spec_content:not(:root){
	> .c-row{
		margin: -1.25rem;
		>.c-row__col{
			margin-bottom: 0;
			padding: 1.25rem;
			&:first-child{ //テキスト
				@include i.mq(md){
					flex-basis: 50%;
					max-width: 50%;
				}
			}
			&:last-child{ //画像
				@include i.mq(md){
					flex-basis: 50%;
					max-width: 50%;
				}
			}
		}
		&.c-row--reverse{
			.c-row__col{
				&:first-child{
					@include i.mq(md){
						@include i.mq(lg,max,true){
							order: 1;
						}
					}
				}
				&:last-child{
					@include i.mq(md){
						@include i.mq(lg,max,true){
							order: 2;
						}
					}
				}
			}
		}
	}
  &[data-sm-split-point]{
    > .c-row{
      @include i.mq(md){
        --smb-media-text--direction: row !important;
      }
    }
    > .c-row--reverse{
      @include i.mq(md){
        --smb-media-text--direction: row-reverse !important;
      }
    }
  }
  .smb-media-text__figure{
    img{
      vertical-align: middle;
    }
  }
	.smb-media-text__title{
		@include i.heading2;
		+ .smb-media-text__body{
			margin-top: 1.5rem;
      >p{
        margin-bottom: initial;
      }
		}
	}
	.smb-media-text__body{
		p{
			font-size: 0.857rem;
			line-height: 2;
		}
	}
	.smb-box{
		margin-top: 1rem;
		padding: 1.5rem 1.125rem;
	}
	.smb-box__background{
		border-radius: 0;
	}
	.smb-box__body{
		p{
      margin-bottom: initial;
      + p{
        margin-top: 0.25rem;
      }
    }
	}
}
