// ======================================================
//
// ブロックスタイル - サービス・製品の仕様（フロント固有のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
//スリム幅以外
body:not([data-is-slim-width="true"]) {
	.is-style-RJE_R002LP_spec_content:not(:root){
		> .c-row{
			>.c-row__col{
				&:first-child{ //テキスト
					@include mq(lg){
						flex-basis: 58.7%;
						max-width: 58.7%;
					}
				}
				&:last-child{ //画像
					@include mq(lg){
						flex-basis: 41.3%;
						max-width: 41.3%;
					}
				}
			}
		}
		.smb-media-text__title{
			+ .smb-media-text__body{
				@include mq(lg){
					margin-top: 2.5rem;
				}
			}
		}
		.smb-box{
			@include mq(lg){
				padding-right: 2.5rem;
				padding-left: 2.5rem;
			}
		}
	}
}

//サイドバーあり
body[data-has-sidebar="true"] {
	.is-style-RJE_R002LP_spec_content:not(:root){
		> .c-row{
			>.c-row__col{
				&:first-child{ //テキスト
					@include mq(lg){
						flex-basis: 100%;
						max-width: 100%;
						order: 2;
					}
				}
				&:last-child{ //画像
					@include mq(lg){
						flex-basis: 100%;
						max-width: 100%;
						order: 1;
					}
				}
			}
		}
	}
}