// ======================================================
//
// ブロックスタイル - メリット・ポイントのパネル（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../../../src/css/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_merit_panels:not(:root){
	> .c-row{
		counter-reset: flow-no;
		margin: -1.875rem;
		> .c-row__col{
			position: relative;
			margin-top: 4.375rem;
			margin-bottom: 0;
			padding: 1.875rem 1.25rem;
			@media screen and (min-width: 1050px){
				padding-right: 1.875rem;
				padding-left: 1.875rem;
			}
		}
	}
	.smb-panels__item{
		position: relative;
		padding-top: 4rem;
		padding-right: 2.125rem;
		padding-bottom: 2.5rem;
		padding-left: 2.125rem;
		box-shadow: none;
		&::before{
			content: "";
			position: absolute;
			top: -4rem;
			left: 0;
			display: block;
			width: 100%;
			height: 0;
			border-bottom: solid 4rem #fff;
			border-left: solid 2.5rem transparent;
		}
	}
	.smb-panels__item__figure{
		position: relative;
		margin-top: -4rem;
		>img{
			max-height: 92px;
			width: auto;
		}
	}
	.smb-panels__item__body{
		padding: 1.5rem 0 0 0;
		
	}
	.smb-panels__item__title{
		@include i.heading4;
	}
	.smb-panels__item__content{
		margin-top: 1rem;
		text-align: left;
		@include i.paragraph;
		font-size: 0.875rem;
		@include i.mq(sm){
			font-size: 1rem;
		}
	}
	//1カラムの場合
	[data-columns="1"]{
		.smb-panels__item{
			@include i.mq(sm,max,true){
				max-width: 320px;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
	[data-md-columns="1"]{
		.smb-panels__item{
			@include i.mq(sm){
				@include i.mq(lg,max,true){
					max-width: 320px;
					margin-right: auto;
					margin-left: auto;
				}
			}
		}
	}
	[data-lg-columns="1"]{
		.smb-panels__item{
			@include i.mq(lg){
				max-width: 320px;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
	//4カラム以上
	[data-lg-columns="4"],
	[data-lg-columns="5"],
	[data-lg-columns="6"]{
		> .c-row__col{
			@include i.mq(lg){
				padding: 1.25rem;
			}
		}
		.smb-panels__item{
			@include i.mq(lg){
				padding: 2.5rem 1.5rem;
			}
		}
	}
}
