// ======================================================
//
// ブロックスタイル - CTA（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_cta:not(:root){
	padding-bottom: 2.5rem;
	> .smb-section__inner{
		> .c-container{
			> .smb-section__body, //@deprecated - SMB v15.11.1まで
			> .smb-section__contents-wrapper > .smb-section__body{ //SMB v15.11.2から
				//メディアと文章
				> .smb-media-text{
					> .c-row{
						margin-bottom: 0;
						@include mq(md){
							margin-right: -1.25rem;
							margin-left: -1.25rem;
						}
						> .c-row__col{
							margin-bottom: 0;
							padding-right: 1rem;
							padding-left: 1rem;
							@include mq(md){
								padding-right: 1.25rem;
								padding-left: 1.25rem;
							}
							//文章
							&:first-child{
								padding-top: 1rem;
								@media screen and (max-width: 767px) {
									display: flex;
									flex-direction: column;
									align-items: center;
								}
								@include mq(md){
									flex-basis: 60%;
									max-width: 60%;
									padding-top: 0;
								}
								@media screen and (min-width: 768px) and (max-width: 1023px) {
									order: 2;
								}
							}
							//メディア
							&:last-child{
								@include mq(md){
									flex-basis: 40%;
									max-width: 40%;
								}
								@media screen and (min-width: 768px) and (max-width: 1023px) {
									order: 1;
								}
							}
						}
					}
					>.c-row--reverse{
						> .c-row__col{
							//文章
							&:first-child{
								padding-top: 1rem;
								@media screen and (min-width: 768px) and (max-width: 1023px) {
									order: 2;
								}
								@include mq(lg){
									padding-top: 2.5rem;
								}
							}
							//メディア
							&:last-child{
								@media screen and (min-width: 768px) and (max-width: 1023px) {
									order: 1;
								}
							}
						}
					}
					.smb-media-text__figure{
						text-align: center;
						img{
							@media screen and (max-width: 767px){
								max-height: 400px;
								width: auto;
								height: auto;
								margin-top: -5rem;
							}
							@include mq(md){
								margin-top: -3.5rem;
							}
						}
					}
					.smb-media-text__title{
						@include heading2;
					}
					.smb-media-text__body{
						margin-top: 1rem;
						@include mq(lg){
							margin-top: 2.5rem;
						}
					}
					.smb-buttons{
						margin-top: 1.25rem;
						@media screen and (max-width: 767px) {
							justify-content: center;
						}
						@include mq(lg){
							margin-top: 1.5rem;
						}
						.is-style-default .smb-btn{
							border: 1px solid var(--_color-text,#333);
						}
					}
				}
			}
		}
	}
}