// ======================================================
//
// ブロックスタイル - 伝えたいこと（アクセント）（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_message_accent:not(:root){
	position: relative;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 3rem 1.75rem;
	border: 1px solid #999;
	@include mq(sm){
		margin-top: 5rem;
		margin-bottom: 6rem;
		padding: 5rem;
	}
	&::before,
	&::after{
		content: "";
		position: absolute;
		display: block;
		width: 3.75rem;
		height: 1px;
		background-color: #999;
		transform: rotate(-60deg);
		z-index: 2;
		@include mq(sm){
			width: 6.25rem;
		}
	}
	&::before{
		top: 0.8rem;
		left: -1.425rem;
		@include mq(sm){
			top: 1.7rem;
			left: -2.2rem;
		}
	}
	&::after{
		bottom: 0.8rem;
		right: -1.425rem;
		@include mq(sm){
			bottom: 1.7rem;
			right: -2.2rem;
		}
	}
	>.smb-section__inner{
		> .c-container{
			padding-right: 0;
			padding-left: 0;
			// ------------------------------------------------------
			// ヘッダー
			//
			// ----- @deprecated - SMB v12.6.1まで -----
			> .smb-section__subtitle{
				@include smb-section-subtitle;
			}
			>.smb-section__title{
				@include heading2;
				&::after{
					display: none;
				}
			}
			// ----- SMB v12.6.2から -----
			> .smb-section__contents-wrapper > .smb-section__header{
				> .smb-section__subtitle{
					@include smb-section-subtitle;
				}
				>.smb-section__title{
					@include heading2;
					&::after{
						display: none;
					}
				}
			}
			// ------------------------------------------------------
			// ボディ
			//
			>.smb-section__body, //@deprecated - SMB v12.6.1まで
			> .smb-section__contents-wrapper > .smb-section__body{ //SMB v12.6.2から
				margin-top: 2.5rem;
				text-align: left;
				@include mq(sm){
					margin-top: 5rem;
				}
			}
		}
	}

	//左寄せ
	&.smb-section--left{
		> .smb-section__inner{
			> .c-container{
				// ----- @deprecated - SMB v12.6.1まで -----
				> .smb-section__lede-wrapper{
					@include mq(lg){
						margin-left: 0;
					}
				}
				> .smb-section__subtitle::after{
					margin-left: 0;
				}
				// ----- SMB v12.6.2から -----
				> .smb-section__contents-wrapper > .smb-section__header{
					.smb-section__lede-wrapper{
						@include mq(lg){
							margin-left: 0;
						}
					}
					.smb-section__subtitle::after{
						margin-left: 0;
					}
				}
			}
		}
	}

	//中央揃え
	&:not(.smb-section--left):not(.smb-section--center):not(.smb-section--right),
	&.smb-section--center{
		> .smb-section__inner{
			> .c-container{
				// ----- @deprecated - SMB v12.6.1まで -----
				> .smb-section__lede-wrapper{
					@include mq(lg){
						margin-right: auto;
						margin-left: auto;
					}
				}
				> .smb-section__subtitle::after{
						margin-right: auto;
						margin-left: auto;
				}
				// ----- SMB v12.6.2から -----
				> .smb-section__contents-wrapper > .smb-section__header{
					.smb-section__lede-wrapper{
						@include mq(lg){
							margin-right: auto;
							margin-left: auto;
						}
					}
					.smb-section__subtitle::after{
							margin-right: auto;
							margin-left: auto;
					}
				}
			}
		}
	}

	//右寄せ
	&.smb-section--right{
		> .smb-section__inner{
			> .c-container{
				// ----- @deprecated - SMB v12.6.1まで -----
				> .smb-section__lede-wrapper{
					@include mq(lg){
						margin-right: 0;
					}
				}
				> .smb-section__subtitle::after{
					margin-right: 0;
				}
				// ----- SMB v12.6.2から -----
				> .smb-section__contents-wrapper > .smb-section__header{
				> .smb-section__lede-wrapper{
						@include mq(lg){
							margin-right: 0;
						}
					}
					> .smb-section__subtitle::after{
						margin-right: 0;
					}
				}
			}
		}
	}
}