// ======================================================
//
// ブロックスタイル - よくある質問（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_faq_items{
	padding: 0.5rem 1rem;
	border: 1px solid #999;
	> .smb-accordion__item{
		margin-top: 0;
		padding-top: 2rem;
		padding-bottom: 2rem;
		+ .smb-accordion__item{
			border-top: 1px solid #999;
		}
		//タイトル
		> .smb-accordion__item__title{
			padding: 0;
			background-color: transparent;
			@include paragraph;
			@include mq(sm){
				font-weight: bold;
			}
			> .smb-accordion__item__title__label{
				position: relative;
				padding-left: 1.875rem;
				@include mq(sm){
					padding-left: 2.5rem;
				}
				&::before{
					content: "Q";
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					font-size: 1rem;
					font-weight: bold;
					color: #8F8F8F;
					@include mq(sm){
						font-size: 1.5rem;
						line-height: 1;
					}
				}
			}
			> .smb-accordion__item__title__icon{
				position: relative;
				width: 1.875rem;
				height: 1.875rem;
				margin-left: 0.75rem;
				background-color: #F4F4F4;
				border-radius: 2px;
				color: #8F8F8F;
				&::before{
					content: "";
					position: absolute;
					top:0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
					display: block;
					width: 1rem;
					height: 1px;
					background-color: #8F8F8F;
				}
				&::after{
					content: "";
					position: absolute;
					top:0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
					display: block;
					width: 1rem;
					height: 1px;
					background-color: #8F8F8F;
					transform:rotate(90deg);
				}
				svg{
					display: none;
				}
			}
		}
		//内容
		> .smb-accordion__item__body {
			display: block;
			padding: 0 0 0 1.875rem;
			@include mq(sm){
				padding-left: 2.5rem;
			}
			&:before{
				content: "A";
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				font-size: 1rem;
				font-weight: bold;
				color: #8F8F8F;
				@include mq(sm){
					font-size: 1.5rem;
					line-height: 1;
				}
			}
		}
	}
}