// ======================================================
//
// ブロックスタイル - よくある質問（エディター固有のスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
// @use "../../../../src/css/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
@mixin styles{
  .is-style-RJE_R002LP_faq_items:not(:root) {
    > .smb-accordion__item{
      .smb-accordion__item__title__icon{
        display: none;
      }
      > .smb-accordion__item__body:not(:root) {
        visibility: visible;
        height: auto;
        overflow: auto;
        transition: none;
        padding-top: 2.5rem;
        &:before{
          padding-top: 2.5rem;
        }
      }
    }
  }
}

@include styles;
.editor-styles-wrapper{
  @include styles;
}
