// ======================================================
//
// ブロックスタイル - 伝えたいこと（ノーマル）（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_message_normal:not(:root){
	@media (max-width: 639px){
		overflow: visible;
	}

	// ------------------------------------------------------
	// 大枠
	//
	>.smb-section__inner {
		> .c-container{
			@include mq(lg){
				padding-right: 0;
				padding-left: 0;
			}
			// ------------------------------------------------------
			// ヘッダー
			//
			// ----- @deprecated - SMB v12.6.1まで -----
			//サブタイトル
			> .smb-section__subtitle{ 
				@include smb-section-subtitle;
			}
			//セクションタイトル
			> .smb-section__title{ 
				@include smb-section-title;
			}
			// ----- SMB v12.6.2から -----
			> .smb-section__contents-wrapper > .smb-section__header{
				> .smb-section__subtitle{ 
					@include smb-section-subtitle;
				}
				//セクションタイトル
				> .smb-section__title{ 
					@include smb-section-title;
				}
				> .smb-section__body{
					margin-top: 1.25rem;
				}
			}
			// ------------------------------------------------------
			// ボディ
			//
			> .smb-section__body, //@deprecated - SMB v12.6.1まで
			> .smb-section__contents-wrapper > .smb-section__body{ //SMB v12.6.2から
				margin-top: 1.25rem;
			}
		}
	}

	// ------------------------------------------------------
	// 大枠 - 左寄せ
	//
	&.smb-section--left > .smb-section__inner > .c-container, //@deprecated - SMB v12.6.1まで
	> .smb-section__inner > .c-container > .smb-section__contents-wrapper--left > .smb-section__header{  //SMB v12.6.2から
		> .smb-section__lede-wrapper{
			@include mq(lg){
				margin-left: 0;
			}
		}
		> .smb-section__subtitle::after{
			margin-left: 0;
		}
	}

	// ------------------------------------------------------
	// 大枠 - 右寄せ
	//
	&.smb-section--right > .smb-section__inner > .c-container, //@deprecated - SMB v12.6.1まで
	> .smb-section__inner > .c-container > .smb-section__contents-wrapper--right > .smb-section__header{  //SMB v12.6.2から
		> .smb-section__lede-wrapper{
			@include mq(lg){
				margin-right: 0;
			}
		}
		> .smb-section__subtitle::after{
			margin-right: 0;
		}
	}

	// ------------------------------------------------------
	// ブロークングリッド（共通）
	//
	.smb-section-break-the-grid{
		padding-top: 0;
		padding-bottom: 0;
		text-align: left;
		.smb-section__inner > .c-container{
			padding-right: 0;
			padding-left: 0;
		}
		.c-row {
			position: relative;
			@include mq(sm){
				align-items: flex-start;
			}
		}
		.c-row__col{
			@include mq(sm){
				flex: 0 1 50%;
				max-width: 50%;
				padding-right: 0;
				padding-left: 0;
			}
			&:first-child{
				@include mq(sm){
					order: 0 !important;
				}
			}
		}
	}

	.smb-section-break-the-grid__content {
		margin-top: -3.875rem;
		padding: 1rem;
		background-color: rgba(#fff,0.6);
		@include mq(sm){
			margin-top: 8.75rem;
			padding: 2.5rem;
		}
		@media (min-width: 40em) and (max-width: 1024px) {
			width: 66vw;
		}
		p{
			line-height: 2.5;
		}
	}
	//タイトル
	.smb-section-break-the-grid__title{
		@include heading3;
		text-align: left;
		&::after{
			display: none;
		}
	}
	//画像
	.smb-section-break-the-grid__figure{
		position: relative;
		@include mq(sm){
			width: calc(100% + 10rem);
		}
	}
	//テキスト
	.smb-section-break-the-grid__body{
		margin-top: 1rem;
		@media screen and (min-width: 640px) and (max-width: 1023px) {
			margin-top: 1.5rem;
		}
		@include mq(lg){
			margin-top: 2.25rem;
		}
	}

	// ------------------------------------------------------
	// ブロークングリッド（右寄せ時のスタイル）
	//
	.smb-section-break-the-grid--right{
		//コンテンツ
		.smb-section-break-the-grid__content {
			@include mq(sm){
				left: 8%;
			}
		}
		//画像
		.smb-section-break-the-grid__figure{
			right: -1em;
			@include mq(sm){
				margin-left: -10rem;
			}
		}
	}

	// ------------------------------------------------------
	// ブロークングリッド（左寄せ時のスタイル）
	//
	.smb-section-break-the-grid--left{
		.smb-section-break-the-grid__content {
			left: auto;
			@media (min-width: 40em) and (max-width: 1024px) {
				right: 25vw;
			}
		}
		//画像
		.smb-section-break-the-grid__figure{
			right: 0;
			left: -1rem;
			@include mq(sm){
				margin-right: 10em;
				margin-left: 0;
			}
		}
	}
}