// ======================================================
//
// ブロックスタイル - 伝えたいこと（ノーマル）（エディタ・フロント共通のスタイル）
//
// ======================================================

// ------------------------------------------------------
// 設定・読み込み・変数など
// ------------------------------------------------------
@use "../../../../src/css/import" as i;

// ------------------------------------------------------
// スタイル
// ------------------------------------------------------
.is-style-RJE_R002LP_message_normal:not(:root){
	@include i.mq(sm, max, true){
		overflow: visible;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
    max-width: unset;
	}

	// ------------------------------------------------------
	// 大枠
	//
	>.smb-section__inner {
		> .c-container{
      // @include i.mq(sm, max, true){
      //   width: 100%;
      // }
			@include i.mq(lg){
				padding-right: 0;
				padding-left: 0;
			}
			// ------------------------------------------------------
			// ヘッダー
			//
			// ----- @deprecated - SMB v12.6.1まで -----
			//サブタイトル
			> .smb-section__subtitle{
				@include i.smb-section-subtitle;
			}
			//セクションタイトル
			> .smb-section__title{
				@include i.smb-section-title;
			}
			// ----- SMB v13.0.0から -----
			> .smb-section__contents-wrapper > .smb-section__header{
				> .smb-section__subtitle{
					@include i.smb-section-subtitle;
				}
				//セクションタイトル
				> .smb-section__title{
					@include i.smb-section-title;
				}
				> .smb-section__body{
					margin-top: 1.25rem;
				}
			}
			// ------------------------------------------------------
			// ボディ
			//
			> .smb-section__body, //@deprecated - SMB v12.6.1まで
			> .smb-section__contents-wrapper > .smb-section__body{ //SMB v13.0.0から
				margin-top: 1.25rem;
			}
		}
	}

	// ------------------------------------------------------
	// 大枠 - 左寄せ
	//
	&.smb-section--left > .smb-section__inner > .c-container, //@deprecated - SMB v12.6.1まで
	> .smb-section__inner > .c-container > .smb-section__contents-wrapper--left > .smb-section__header{  //SMB v13.0.0から
		> .smb-section__lede-wrapper{
			@include i.mq(lg){
				margin-left: 0;
			}
		}
		> .smb-section__subtitle::after{
			margin-left: 0;
		}
	}

	// ------------------------------------------------------
	// 大枠 - 右寄せ
	//
	&.smb-section--right > .smb-section__inner > .c-container, //@deprecated - SMB v12.6.1まで
	> .smb-section__inner > .c-container > .smb-section__contents-wrapper--right > .smb-section__header{  //SMB v13.0.0から
		> .smb-section__lede-wrapper{
			@include i.mq(lg){
				margin-right: 0;
			}
		}
		> .smb-section__subtitle::after{
			margin-right: 0;
		}
	}

	// ------------------------------------------------------
	// ブロークングリッド（共通）
	//
	.smb-section-break-the-grid{
		padding-top: 0;
		padding-bottom: 0;
		text-align: left;
		.smb-section__inner > .c-container{
      width: 100%;
			padding-right: 0;
			padding-left: 0;
		}
		.c-row {
			position: relative;
			margin-right: 0;
			margin-bottom: 0;
			margin-left: 0;
			@include i.mq(sm){
				align-items: flex-start;
			}
		}
		.c-row__col{
			margin-right: 0;
			margin-bottom: 0;
			margin-left: 0;
			padding-right: 0;
			padding-left: 0;
			@include i.mq(sm){
				flex: 0 1 50%;
				max-width: 50%;
				padding-right: 0;
				padding-left: 0;
			}
			&:first-child{
				@include i.mq(sm, max, true){
					order: 1 !important;
				}
				@include i.mq(sm){
					@include i.mq(lg, max, true){
						order: 0 !important;
					}
				}
			}
			&:last-child{
				@include i.mq(sm, max, true){
					padding-right: 0;
					padding-left: 0;
					width: calc(100% + 1rem);
				}
			}
		}
	}

	//コンテンツ
	.smb-section-break-the-grid__content {
		margin-top: -3.875rem;
		padding: 1rem;
		background-color: rgba(#fff,0.6);
		@include i.mq(sm){
			margin-top: 8.75rem;
			padding: 2.5rem;
		}
		@include i.mq(sm){
			@include i.mq(lg,max,true){
				width: 66vw;
			}
		}
		p{
			line-height: 2.5;
		}
	}

	//タイトル
	.smb-section-break-the-grid__title{
		@include i.heading3;
		text-align: left;
		&::after{
			display: none;
		}
	}
	//画像
	.smb-section-break-the-grid__figure{
		position: relative;
		@include i.mq(sm){
			width: calc(100% + 10rem);
		}
		@include i.mq(sm,max,true){
			width: calc(100% + 1.8rem);
		}
	}
	//テキスト
	.smb-section-break-the-grid__body{
		margin-top: 1rem;
		@include i.mq(sm){
			@include i.mq(lg,max,true){
				margin-top: 1.5rem;
			}
		}
		@include i.mq(lg){
			margin-top: 2.25rem;
		}
	}

	// ------------------------------------------------------
	// ブロークングリッド（右寄せ時のスタイル）
	//
	.smb-section-break-the-grid--right{
		//コンテンツ
		.smb-section-break-the-grid__content {
			@include i.mq(sm){
				left: 8%;
			}
		}
		//画像
		.smb-section-break-the-grid__figure{
			@include i.mq(sm){
				right: -1em;
				margin-left: -10rem;

			}
			@include i.mq(sm,max,true){
				right: 0 !important;
			}
		}
	}

	// ------------------------------------------------------
	// ブロークングリッド（左寄せ時のスタイル）
	//
	.smb-section-break-the-grid--left{
		.smb-section-break-the-grid__content {
			left: auto;
			@include i.mq(sm){
				@include i.mq(lg,max,true){
					right: 25vw;
				}
			}
		}
		//画像
		.smb-section-break-the-grid__figure{
			right: 0 !important;
			left: -1rem !important;
			@include i.mq(sm){
				margin-right: 10em;
				margin-left: 0;
			}
			@include i.mq(sm,max,true){
				right: auto !important;
        left: -1.8rem !important;
			}
		}
	}
	// ----- @deprecated - SMB v12.6.1まで -----
	.smb-section-break-the-grid > .smb-section__inner > .c-container > .c-row > .c-row__col{
		&:first-child{
			// @include i.mq(sm){
			// 	@include i.mq(lg, max, true){
			// 		order: 0 !important;
			// 	}
			// }
		}
		.smb-section-break-the-grid__content {
			@include i.mq(sm,max,true){
				margin-top: -3.875rem;
			}
		}
	}
	// ----- @deprecated - SMB v13.0.0から -----
	.smb-section-break-the-grid > .smb-section__inner > .c-container > .smb-section__contents-wrapper > .c-row > .c-row__col{
		&:first-child{
			@include i.mq(sm){
				@include i.mq(lg, max, true){
					order: 0 !important;
				}
			}
		}
	}
}
